<!DOCTYPE html>
<html>
    <head>
        <title>DIC cafe</title>
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/contact.css" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <section class="section_inner" id="app">
            <div class="section_title">
                <h1>CONTACT</h1>
                <p>お問い合わせ</p>
            </div>
            <p class="alert_color" v-if="formData.email !== formData.re_email">{{ errorMessage }}</p>
            <!-- formData.emailの値が空（未入力）またはformData.emailConfirmの値が空（未入力）の場合は入力を促すメッセージを表示 -->
            <!-- <p v-if="formData.email === '' || formData.re_email === ''" >
                EメールフォームとEメール(確認)フォームを入力してください
            </p> -->
            <!-- v-ifの条件に当てはまらず、値が異なっている場合はエラーメッセージを表示 -->
            <!-- <p v-else-if="formData.email !== formData.re_email" class="alert_color">
                {{ errorMessage }}
            </p> -->
            <!-- それ以外の場合（入力されており、かつ値が同じ場合）のメッセージ -->
            <!-- <p v-else>正しく入力できています</p> -->
            <form action="#" method="POST" id="form">
                <table class="contact" id="table">
                    <tr class="contact_line">
                        <td class="contact_sign"><label for="name">お名前</label></td>
                        <td class="contact_input"><input v-model="formData.name" type="text" name="name" id="name"></td>
                    </tr>
                    <tr class="contact_line">
                        <td class="contact_sign"><label for="name">Eメール</label></td>
                        <td class="contact_input">
                            <!-- Eメール入力フォームと確認フォームの値が異なる場合のみ、alert_bgクラスをつける -->
                            <input v-bind:class="{ alert_bg: formData.email !== formData.re_email }" v-model="formData.email" type="email" name="email" id="email">
                        </td>
                    </tr>
                    <tr class="contact_line">
                        <td class="contact_sign"><label for="name">Eメール(確認)</label></td>
                        <td class="contact_input">
                            <!-- Eメール入力フォームと確認フォームの値が異なる場合のみ、alert_bgクラスをつける -->
                            <input v-bind: class="{ alert_bg: formData.email !== formData.re_email }" v-model="formData.re_email" type="email" name="re_email" id="re_email"></td>
                    </tr>
                    <tr class="contact_content" id="content_field">
                        <td class="contact_sign"><label for="content">内容</label></td>
                        <td class="contact_input"><textarea v-model="formData.content" name="content" id="content"></textarea></td>
                    </tr>
                </table>
                <div class="contact_btn_area">
                    <button type="reset" class="contact_btn reset_btn">リセット</button>
                    <button type="submit" class="contact_btn submit_btn">送信する</button>
                </div>
            </form>
            <section class="contact_confirm">
                <h2>ご記入内容の確認</h2>
                <p><span class="bold">お名前: </span><span>{{ formData.name }}</span></p>
                <p><span class="bold">Eメール: </span><span>{{ formData.email }}</span></p>
                <p><span class="bold">Eメール(確認) : </span><span>{{ formData.re_email }}</span></p>
                <p><span class="bold">内容: </span><span>{{ formData.content }}</span></p>
            </section>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script type="text/javascript" src="javascripts/validation.js"></script>
    </body>
</html>